<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
    <div id="app">
        <el-form ref="form"  action="./upload" :model="form" label-width="80px">
            <el-form-item label="活动名称">
                <el-input v-model="form.versionNo"></el-input>
            </el-form-item>
            <el-form-item label="md5">
                <el-input v-model="form.md5"></el-input>
            </el-form-item>
            <el-upload
                    class="upload-demo"
                    name="file"
                    ref="upload"
                    action="./upload"
                    :file-list="fileList"
                    :auto-upload="false">
                <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">上传到服务器</el-button>
                <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
            </el-upload>
        </el-form>

    </div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var vue = new Vue({
        el: '#app',
        images:null,
        data: {
            form: {
                md5:123,
                versionNo:"1456",
            }
        },
        methods:{
            submitUpload() {
                this.images = this.fileList;
                //this.$refs.upload.submit();
                let formData = new FormData();
                formData.append("md5",this.form.md5);
                formData.append("versionNo",this.form.versionNo);
                formData.append("file",this.$refs.upload.$data.uploadFiles[0].raw);
                var request = new XMLHttpRequest();
                request.open("POST", "./upload");
                request.send(formData);
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            }
        },

    })
</script>
