<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">


    <bean id="myUserDetailsService" class="security.MyUserDetailService"></bean>

    <bean id="myAuthenticationSuccessHandler" class="security.MyAuthenticationSuccessHandler"></bean>
    <bean id="myAuthenticationFailureHandler" class="security.MyAuthenticationFailureHandler"></bean>
    <!--
    1)需要拦截什么资源
    2)什么资源需要什么角色
    3)定义登陆认证方式,httpbasic formlogin
    4)定义登陆页面,定义登陆请求地址,定义错误方式
    -->
    <security:http>
        <!--pattern 需要拦截的资源
          access:拦截方式
            isFullAuthenticated(),该资源需要认证才能访问
            permitAll():允许所有访问
        -->
        <security:intercept-url pattern="/usersLogin" access="permitAll()"/>
        <security:intercept-url pattern="/product/index" access="permitAll()"/>
        <security:intercept-url pattern="/product/add" access="hasRole('ROLE_USER')"/>
        <security:intercept-url pattern="/product/update" access="hasRole('ROLE_USER')"/>
        <security:intercept-url pattern="/product/list" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/product/del" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/**" access="isFullyAuthenticated()"></security:intercept-url>
        <!--使用httpbasic 方式认证-->
        <!--<security:http-basic />-->
        <!--表单登陆方式
        login-page:自定义登陆页面
        可能会由403错: Could not verify the provided CSRF token because your session was not found.
        login-processing-url:登陆请求地址
authentication-success-handler-ref:自定义登陆处理逻辑
        -->
        <security:form-login login-page="/usersLogin" login-processing-url="/securityLogin"
                            default-target-url="/product/index"
            authentication-success-handler-ref="myAuthenticationSuccessHandler"
        authentication-failure-handler-ref="myAuthenticationFailureHandler"/>

        <!--自定义权限不足处理-->
        <security:access-denied-handler error-page="/error"/>

        <!--g关闭 csrf-->
        <security:csrf disabled="true"/>
    </security:http>

    <!--
    认证管理信息,账户名,密码,角色
    -->
    <security:authentication-manager>
        <!--自定义userDetailService方式-->
        <security:authentication-provider user-service-ref="myUserDetailsService">
        </security:authentication-provider>
    </security:authentication-manager>


</beans>